.center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-file {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-top: 0.125rem;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.btn-primary {
    color: #fff;
    background-color: blue;
    border-color: #112132;
}

.btn-primary:hover {
    color: #fff;
    background-color: #04070b;
    border-color: #070d13;
}

/* Login form styles */
.form-control {
    width: 400px;
    min-height: 45px;
    color: hsl(0, 0%, 100%);
    outline: none;
    transition: 0.35s;
    padding: 0px 7px;
    background-color: rgb(55, 57, 55);
    border-radius: 6px;
    border: 2px solid #212121;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
        1px 1px 10px rgba(11, 156, 181, 0.6);
}

button {
    width: 100px;
    min-height: 45px;
    color: #fff;
    background-color: rgb(55, 57, 55);
    border-radius: 6px;
    border: 2px solid white;
}

label {
    color: black;
    font-weight: bold;
}

/* Placeholder color for all input fields */
::placeholder {
    color: white;
}

.input:focus.input::placeholder {
    transition: 0.3s;
    opacity: 0;
    color: white;
}

.end {
    position: absolute;
    left: 60%;
}
