<form [formGroup]="formgroup" *ngIf="formgroup">
    <div class="form-group">
      <label for="ProductName">Product Name:</label>
      <input type="text" class="form-control" id="ProductName" placeholder="Product Name" formControlName="ProductName" required>
    </div>
  
    <div class="form-group">
      <label for="CategoryId">Category Id:</label>
      <input type="text" class="form-control" id="CategoryId" placeholder="Enter the Category Id" formControlName="CategoryId" required>
    </div>
  
    <div class="form-group">
      <label for="SubCategoryId">SubCategory Id:</label>
      <input type="text" class="form-control" id="SubCategoryId" placeholder="Enter the SubCategoryId" formControlName="SubCategoryId" required>
    </div>
  
    <div class="form-group">
      <label for="Price">Price:</label>
      <input type="text" class="form-control" id="Price" placeholder="Enter the Price" formControlName="Price" required>
    </div>
  
    <div class="form-group">
      <label for="Image">Image:</label>
      <input type="file" class="form-control-file form-control" id="Image" (change)="onFileChange($event)" required>
    </div>
  
    <div *ngIf="formgroup.get('image')?.value" class="mb-2">
      <img [src]="formgroup.get('image')?.value" alt="Selected Image" class="img-thumbnail form-control" height="100px" width="100px">
    </div>
    <button type="button" class="btn btn-primary ms-3" (click)="register()">Upload</button>
  </form>
  