<div class="container-fluid   d-flex justify-content-center mt-5 image">
  
     
    
      
        <form [formGroup]="formgroup" *ngIf="formgroup" class="w-75">
          <div class="form-group">
            <label for="ProductName">Product Name:</label>
            <input type="text" class="form-control" id="ProductName" placeholder="Product Name" formControlName="ProductName" required>
          </div>

          <div class="form-group">
            <label for="CategoryId">Category Name:</label>
            <select class="form-control" id="CategoryId" formControlName="CategoryId" (change)="updateSelectedCategory($event)" required>
              <option value="">Select Category</option>
              <option *ngFor="let category of categoryitem" [value]="category.id">{{ category.categoryName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="SubCategoryId">Subcategory Name:</label>
            <select class="form-control" id="SubCategoryId" formControlName="SubCategoryId" required>
              <option value="">Select SubCategory</option>
              <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{ subcategory.subCategoryName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="Price">Price:</label>
            <input type="text" class="form-control" id="Price" placeholder="Enter the Price" formControlName="Price" required>
          </div>
          <div class="form-group">
            <label for="Quantity">Quantity:</label>
            <input type="text" class="form-control" id="Quantity" placeholder="Enter the Quantity" formControlName="Quantity" required>
          </div>

          <div class="form-group">
            <label for="Image">Image:</label>
            <input type="file" class="form-control-file form-control" id="Image" (change)="onFileChange($event)" required>
          </div>

          <div *ngIf="selectedImageSrc" class="mb-2">
            <img [src]="selectedImageSrc" alt="Selected Image" class="img-thumbnail form-control" height="100px" width="100px">
          </div>

          <button type="button" class="btn btn-primary ms-3" (click)="register()">Upload</button>
        </form>
      </div>
    


