<app-header></app-header>
<div class="container-fluid">
  <div class=" m-5 d-flex justify-content-center">
    <div class="row">
      <div class="col mt-4 ">
        <div class="">

          <div class="p-4  mt-4 img-thumbnail  ">

            <img [src]="getImage(data.image)" width="350px" height="250px">

            <div class=" style ms-5 mt-4 ">
              <h5 class="style">Product Name : {{data.productName}}</h5>
              <h5 class="style">Price : {{data.price}}</h5>
              <h5 class="style">Quantity : {{data.quantity}} <input class="class ms-2" type="number" data-zeros="true"
              [value]="inputValue" min="1" max="1000" (change)="calculateTotal($event)"></h5>

              <div class="d-flex justify-content-end" >
                <p class="amount mt-3 ">Total Price :   <i class="fa-solid fa-indian-rupee-sign  "></i>{{ total ? total : data.price }} </p>
                <button class="btn  btn-small btn-outline-warning ms-5 width mt-3" (click)="cart()">ADD PRODUCT <i class="fa-solid fa-plus"></i></button>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>