/* .top{
position: relative;
z-index: 10;
} */

.class{
    width: 50px;
}
.style{
    font-family: cursive;
    font-size: 25px;
}
.img-thumbnail{
    transition: transform 0.2s;
}
.img-thumbnail:hover {
    transform: scale(1.1);
  }
  .amount{
   font-family: 'Times New Roman', Times, serif;
   color: blue;
   font-size: 25px;
  }
.signs{
    color: black;

}
.width{
  height: 35px;
  font-family: 'Times New Roman', Times, serif;

}