
<section id="contact">
    <div class="contact-container container">
        <div class="contact-img">
           
            <img src="https://i.postimg.cc/1XvYM67V/restraunt2.jpg" alt="" />
        </div>
        <div class="form-container">
            <h2>Contact Us</h2>
            <input type="text" placeholder="Your Name" />
            <input type="email" placeholder="E-Mail" />
            <textarea cols="30" rows="6" placeholder="Type Your Message"></textarea>
            <a href="#" class="btn btn-primary">Submit</a>
        </div>
    </div>
</section>
<button class="custom-btn btn-7"  >Back</button>