
<app-header></app-header>
<div class="container-fluid">
    <div class=" d-flex mt-4  ">
        <div class="text-center ms-5 color hovers">
            <img src="../assets/dessert.jpg" class="rounded-circle mt-5" width="150px" height="120px">
            <h2 class="mt-4 size">𝑫𝑬𝑺𝑺𝑬𝑹𝑻</h2>
        </div>

        <div class="text-center ms-5 color hovers">
            <img src="../assets/spicy.jpg" class="rounded-circle mt-5" width="150px" height="120px">
            <h2 class="mt-4 size">𝑯𝑶𝑻&𝑺𝑷𝑰𝑪𝒀</h2>
        </div>
        
        <div class="text-center ms-5 color hovers">
            <img src="../assets/food images.jpg" class="rounded-circle mt-5" width="150px" height="120px">
            <h2 class="mt-4 size">𝑭𝑨𝑺𝑻 𝑭𝑶𝑶𝑫
            </h2>
        </div>
        <div class="text-center ms-5 color hovers">
            <img src="../assets/meals.webp" class="rounded-circle mt-5" width="150px" height="120px">
            <h2 class="mt-4 size">𝑽𝑬𝑮𝑮𝑰𝑬𝑺
            </h2>
        </div>
        <div class="text-center ms-5 color hovers">
            <img src="../assets/nonveg.webp" class="rounded-circle mt-5" width="150px" height="120px">
            <h2 class="mt-4 size">𝑵𝑶𝑵-𝑽𝑬𝑮
            </h2>
        </div>
        <div class="text-center ms-5 color hovers">
            <img src="../assets/ice cream.png" class="rounded-circle mt-5" width="150px" height="120px">
            <h2 class="mt-4 size">𝑰𝑪𝑬-𝑪𝑹𝑬𝑨𝑴
            </h2>
        </div>
        <div class="text-center ms-5 color hovers">
            <img src="../assets/shakes.png" class="rounded-circle mt-5" width="150px" height="120px">
            <h2 class="mt-4 size">𝑺𝑯𝑨𝑲𝑬𝑺</h2>
        </div>
        <div class="text-center ms-5 color hovers">
            <img src="../assets/drinks.png" class="rounded-circle mt-5" width="150px" height="120px">
            <h2 class="mt-4 size">𝑺𝑶𝑭𝑻 𝑫𝑹𝑰𝑵𝑲𝑺</h2>
        </div>


        <div class="text-center ms-5 color hovers">
            <img src="../assets/coffe.jpg" class="rounded-circle mt-5" width="150px" height="120px">
            <h2 class=" mt-4 size">𝑪𝑶𝑭𝑭𝑬𝑬</h2>
        </div>

       

    </div>

    <body>
        <div class="container">
            <div class="half-page">
                <img src="/assets/1.jpg" alt="Food Image">
            </div>
            <div class="content ">
                <h1>Foodies world</h1>
                <p>Welcome to our delicious world!</p>
                <div class="animation-images ">
                    <img src="../assets/f3.webp" alt="Food Image 1">
                    <img src="../assets/f4.webp" alt="Food Image 2">
                    <img src="../assets/f5.webp" alt="Food Image 3">
                </div>
                <div class="price-section content">
                    <h2>Our Specials</h2>
                    <p>Check out our amazing dishes at great prices:</p>
                    <ul>
                        <li>Special Dish 1 - $10.99</li>
                        <li>Special Dish 2 - $12.99</li>
                        <li>Special Dish 3 - $15.99</li>
                    </ul>
                </div>
                <div class="quote-section">
                    <h2>Customer Reviews</h2>
                    <div class="quote">"Delicious food with excellent service! Highly recommended!"</div>
                    <div class="quote">"The prices are reasonable, and the taste is outstanding. Will definitely come
                        back!"</div>
                </div>
                <div class="image-gallery ">
                    <h2>Discover Our Dishes</h2>
                    <img src="/assets/g1.webp" alt="Gallery Image 1" style="width: 200px; height: 300px;">
                    <img src="/assets/g2.avif" alt="Gallery Image 2" style="width: 200px; height: 300px;">
                    <img src="/assets/g3.avif" alt="Gallery Image 3" style="width: 200px; height: 300px;">


                </div>

            </div>
        </div>
      


      
    </body>
    <div class="d-flex justify-content-center mt-5 color">
        <h1>𝗥𝗘𝗖𝗜𝗣𝗘 𝗢𝗙 𝗧𝗛𝗘 𝗗𝗔𝗬</h1></div>

        
    <div class="text-center ms-5  ">
        
        <img src="/assets/juice.jpg" class="rounded-circle ms-5" width="150px" height="120px">   
        <img src="../assets/orange.jpg" class="rounded-circle ms-5" width="150px" height="120px"> 
        <img src="/assets/icecream.png" class="rounded-circle ms-5" width="150px" height="120px">

    </div>
</div>
