 
<section id="about">
    <div class="about-wrapper container">
        <div class="about-text">
            <p class="small">About Us</p>
            <h2>We've beem making healthy food last for 10 years</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse ab
                eos omnis, nobis dignissimos perferendis et officia architecto,
                fugiat possimus eaque qui ullam excepturi suscipit aliquid optio,
                maiores praesentium soluta alias asperiores saepe commodi
                consequatur? Perferendis est placeat facere aspernatur!
            </p>
        </div>
        <div class="about-img">
            <img src="../assets/fullmeals6.jpeg" alt="food" />
        </div>
    </div>
</section>
<section id="food">
    <h2>Types of food</h2>
    <div class="food-container container">
        <div class="food-type fruite">
            <div class="img-container">
                <img src="../assets/egg-dosa.avif" alt="error" />
                <div class="img-content">
                    <h3>dosa</h3>
                    <a href="http://localhost:4200/food?id=7" class="btn btn-primary" target="blank">view
                        more</a>
                </div>
            </div>
        </div>
        <div class="food-type vegetable">
            <div class="img-container">
                <img src="../assets/fullmeals2.avif" alt="error" />
                <div class="img-content">
                    <h3>full meals</h3>
                    <a href="https://www.indianhealthyrecipes.com/indian-dinner-recipes/" class="btn btn-primary" target="blank">view
                        more</a>
                </div>
            </div>
        </div>
        <div class="food-type grin">
            <div class="img-container">
                <img src="../assets/veg-burger.jpg" alt="error" />
                <div class="img-content">
                    <h3>fast  food</h3>
                    <a href="https://www.firstcry.com/intelli/articles/list-of-fast-food-fast-food-vocabulary-for-kids/" class="btn btn-primary" target="blank">view
                        more</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonials">
    <h2 class="testimonial-title">What Our Customers Say</h2>
    <div class="testimonial-container container">
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="https://i.postimg.cc/5Nrw360Y/male-photo1.jpg" alt="" />
                    <p class="customer-name">Ross Lee</p>
                </div>
                
            </div>
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
                𝒯𝑜𝒹𝒶𝓎 𝓌𝑒 𝓈𝒶𝓉 𝑜𝓊𝓉 𝑜𝓃 𝓉𝒽𝑒 𝓈𝒽𝒶𝒹𝑒𝒹 𝓅𝒶𝓉𝒾𝑜 𝒶𝓃𝒹 𝒻𝑒𝓁𝓉 𝓁𝒾𝓀𝑒 𝓌𝑒 𝓌𝑒𝓇𝑒 𝒽𝒶𝓋𝒾𝓃𝑔 𝒶 𝓅𝓇𝒾𝓋𝒶𝓉𝑒 𝒹𝒾𝓃𝒾𝓃𝑔 𝑒𝓍𝓅𝑒𝓇𝒾𝑒𝓃𝒸𝑒. 𝒥𝓊𝓁𝒾𝒶 𝑜𝓊𝓇 𝓈𝑒𝓇𝓋𝑒𝓇 𝓌𝒶𝓈 𝒻𝓇𝒾𝑒𝓃𝒹𝓁𝓎 𝒶𝓃𝒹 𝒶𝓉𝓉𝑒𝓃𝓉𝒾𝓋𝑒.          </p>

        </div>
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="https://i.postimg.cc/sxd2xCD2/female-photo1.jpg" alt="" />
                    <p class="customer-name">Amelia Watson</p>
                </div>
            </div>
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
                𝒯𝒽𝑒 𝒽𝑜𝓂𝑒𝓂𝒶𝒹𝑒 𝒽𝒶𝓈𝒽 𝓌𝒶𝓈 𝒹𝑒𝓁𝒾𝒸𝒾𝑜𝓊𝓈 𝒶𝓈 𝓌𝒶𝓈 𝓉𝒽𝑒 𝓆𝓊𝒾𝓃𝑜𝒶 𝑒𝑔𝑔 𝒷𝑜𝓌𝓁, 𝓈𝓉𝓊𝒻𝒻𝑒𝒹 𝐹𝓇𝑒𝓃𝒸𝒽 𝓉𝑜𝒶𝓈𝓉, 𝓅𝒶𝓃𝒸𝒶𝓀𝑒𝓈, 𝒶𝓃𝒹 𝑒𝑔𝑔 𝓈𝒶𝓃𝒹𝓌𝒾𝒸𝒽. 𝐸𝓋𝑒𝓇𝓎𝓉𝒽𝒾𝓃𝑔 𝓌𝒶𝓈 𝒻𝓇𝑒𝓈𝒽 𝒶𝓃𝒹 𝒹𝑒𝓁𝒾𝒸𝒾𝑜𝓊𝓈!
            
   
            </p>

        </div>
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="https://i.postimg.cc/fy90qvkV/male-photo3.jpg" alt="" />
                    <p class="customer-name">Ben Roy</p>
                </div>
            </div>
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
                𝒲𝑒 𝒽𝒶𝓋𝑒 𝒽𝒶𝒹 𝒷𝓇𝑒𝒶𝓀𝒻𝒶𝓈𝓉 𝒽𝑒𝓇𝑒 𝓂𝒶𝓃𝓎 𝓉𝒾𝓂𝑒𝓈 𝒾𝓃 𝓇𝑒𝒸𝑒𝓃𝓉 𝓎𝑒𝒶𝓇𝓈 𝒶𝓃𝒹 𝓉𝒽𝑒𝓎 𝒸𝑜𝓃𝓉𝒾𝓃𝓊𝑒 𝓉𝑜 𝓀𝓃𝑜𝒸𝓀 𝒾𝓉 𝑜𝓊𝓉 𝑜𝒻 𝓉𝒽𝑒 𝓅𝒶𝓇𝓀.
                                 
            </p>

        </div>
    </div>
</section>
 