

<app-header></app-header>
<div class="container-fluid">
  <div class=" m-5 d-flex justify-content-center">
    <div class="row">
      <div class="col mt-4 " *ngFor="let item of addItems; let i=index">
        <div>
          <div class="p-4  mt-4 img-thumbnail ">
            <img [src]="getImage(item.image)" width="300px" height="250px">
            <div class="style ms-5 mt-4 ">
              <h5 class="style">Product Name: {{item.productName}}</h5>
              <h5 class="style">Price:{{item.price}}</h5>
              <h5 class="style">Quantity:
                <input class="class ms-2" type="number" data-zeros="true" value="1" min="1" max="1000"
                  (input)="updateQuantity(i,$event)">
              </h5>



              RATING : <div class="rating me-5">

                <input type="radio" [name]="'rating_' + i" value="5" id="5_{{i}}"><label for="5_{{i}}">☆</label>
                <input type="radio" [name]="'rating_' + i" value="4" id="4_{{i}}"><label for="4_{{i}}">☆</label>
                <input type="radio" [name]="'rating_' + i" value="3" id="3_{{i}}"><label for="3_{{i}}">☆</label>
                <input type="radio" [name]="'rating_' + i" value="2" id="2_{{i}}"><label for="2_{{i}}">☆</label>
                <input type="radio" [name]="'rating_' + i" value="1" id="1_{{i}}"><label for="1_{{i}}">☆</label>
              </div>

            </div>
           
              <p class="amount ms-3   "> Total Price : <i class="fa-solid fa-indian-rupee-sign  "></i> {{
                totalPrice(item) }} </p>
                <div class="d-flex justify-content-end">
                <button class="btn btn-small btn-outline-success  mt-3 " (click)="delete(item)">Remove</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <p class="amount mt-3">GRAND TOTAL: <i class="fa-solid fa-indian-rupee-sign"></i> {{ getGrandTotal() }}</p>
  <button class="btn btn-small btn-outline-warning ms-5 mt-3" style="width: 150px; height: 50px;"
    (click)="buy()">BUY</button>
</div>