<!-- <app-home _nghost-thp-c60> -->
    <div class="page-header">

        <div class="container">
            <div class="content-center brand mx-auto" _ngcontent-thp-c60="">
                <h1 class="top-banner_heading">
                    <b _ngcontent-thp-c60="">Discover</b>
                    <br _ngcontent-thp-c60="">The Foodies Star
                    <br _ngcontent-thp-c60="">In you
                </h1>
                <div class="row d-flex justify content-center mt-5 ms-4">
                    <div class="col-lg-3 col-md-6 home-searchbox-padding searchbox_item_padding">
                        <div class="form-group">
                            <input class="form-control home-searchbox-input ng-untouched ng-pristine ng-valid" type="text"
                                placeholder="Enter Job Role">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 home-searchbox-padding searchbox_item_padding">
                        <div class="form-group">
                            <select id="ilceler"
                                class="form-control home-searchbox-select ng-untouched ng-pristine ng-valid">
                                <option value="" selected="">Choose Job Category</option>
                                <option value="Technology">Technology</option>
                                <option value="Business">Business</option>
                                <option value="Cloud Kitchen">Cloud kitchen</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 home-searchbox-padding searchbox_item_padding">
                        <div class="form-group">
                            <select id="ilceler"
                                class="form-control home-searchbox-select ng-untouched ng-pristine ng-valid">
                                <option value="select" >Choose Job Location</option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Lucknow">Lucknow</option>
                                <option value="Bikaner">Bikaner</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Coimbatore">Coimbatore</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="form-group d-flex justify-content-start">
                            <button class="btn btn-small btn-outline-light" (click)="refreshPage()">Search</button>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    
    <h2 class="heading text-center mt-4">Where Do You<br><b>Belong?</b></h2>
    <div class="container text-center">
        <div class="row mt-4">
            <div class="col-sm-12 col-lg-4">
                <div class="icon_svg">
                    <img src="../../assets/science-technology-application-svgrepo-com.svg" width="150px" height="150px">
                </div>
                <div class="discription mt-4">
                    <h4>TECHNOLOGY</h4>
                    <a class="btn  btn-small btn-outline-light" routerLink="/career" >Explore</a>
                </div>
            </div>
    
            <div class="col-sm-12 col-lg-4">
                <div class="icon_svg">
                    <img src="../../assets/business-financial-graph-svgrepo-com.svg" width="150px" height="150px">
                </div>
                <div class="discription mt-4">
                    <h4>BUSINESS</h4>
                    <a class="btn btn-small btn-outline-light" routerLink="/career" >Explore</a>
                </div>
            </div>
    
            <div class="col-sm-12 col-lg-4">
                <div class="icon_svg">
                    <img src="../../assets/cloud-file-svgrepo-com.svg" width="150px" height="150px">
                </div>
                <div class="discription mt-4">
                    <h4>CLOUD KITCHEN</h4>
                    <a class="btn btn-small btn-outline-light" routerLink="/career" >Explore</a>
                </div>
            </div>
    
            <div class="col-sm-12 col-lg-4 mt-5">
                <div class="icon_svg">
                    <img src="../../assets/support-svgrepo-com.svg" width="150px" height="150px">
                </div>
                <div class="discription mt-4">
                    <h4>CUSTOMER CARE</h4>
                    <a class="btn btn-small btn-outline-light" routerLink="/career" >Explore</a>
                </div>
            </div>
    
            <div class="col-sm-12 col-lg-4 mt-5">
                <div class="icon_svg">
                    <img src="../../assets/university-campus-svgrepo-com.svg" width="150px" height="150px">
                </div>
                <div class="discription mt-4">
                    <h4>Campus </h4>
                    <a class="btn btn-small btn-outline-light" routerLink="/career" >Explore</a>
                </div>
            </div>
    
            <div class="col-sm-12 col-lg-4 mt-5">
                <div class="icon_svg">
                    <img src="../../assets/presentation-business-and-finance-svgrepo-com.svg" width="150px" height="150px">
                </div>
                <div class="discription mt-4">
                    <h4>CORPORATE SUPPORT FUNCTION</h4>
                    <a class="btn btn-small btn-outline-light" routerLink="/career" >Explore</a>
                </div>
            </div>
        </div>
    </div>
    </div>