.colour{
    color: rgb(234, 35, 35);
    font-size: 45px;
   text-shadow: 2px 2px 4px #000000;
    

}
.style{
    color:rgb(35, 199, 240);
    font-size: 25px;
    /* font-family:cursive; */
} .out{
font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color:darkmagenta

}

 /* SEARCH BAR */

 

