<nav class="navbar rounded sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/c1.jpg" height="100px" class="rounded-circle">
            <a class="navbar-brand colour ms-3">𝐹𝒪𝒪𝒟𝐼𝐸𝒮 𝒲𝒪𝑅𝐿𝒟</a>
        </a>
        <ul class="nav align-middle ms-5">

            <li class="nav-item ">
                <a class="nav-link style   " (click)="login()" *ngIf="!userName">𝙇𝙊𝙂𝙄𝙉</a>
                <p class="out me-5 mt-2 ">{{userName}}
                    <button class="btn btn-outline-success ms-3" *ngIf="userName" (click)="logout()"> 𝐋𝐎𝐆
                        𝐎𝐔𝐓</button>
                </p>
            </li>

        </ul>
    </div>

    

    <div class="row btn-outline-success">
      
    </div>



</nav>
<div class="container-fluid ">
    <div class="row align-items-start ">
      <div class="col">
         <div class="col bg-dark text-white w-25  p-3">

            <a class="nav-link style ms-2 mt-2 btn-outline-primary " (click)="upload()">
                Upload</a>

            <div>
                <a class="nav-link style ms-2 mt-2 btn-outline-primary  " (click)="update()">
                    Update</a>
            </div>
            <div>
                <a class="nav-link style ms-2 mt-2 btn-outline-primary  " (click)="categorys()">
                    Category</a>
            </div>

        </div>
      </div>
      
    </div>
    <button class="custom-btn btn-7" style="margin-left: 640%"><span>Back</span></button>