/* You can add global styles to this file, and also import other style files */


.red-snackbar{
    --mdc-snackbar-container-color:red;
    --mat-snack-bar-button-color:blue;
    --mdc-snackbar-supporting-text-color:pink;
    padding-top:100px;
  }
  .green-snackbar{
    --mdc-snackbar-container-color:white;
    --mat-snack-bar-button-color:black;
    --mdc-snackbar-supporting-text-color:green;
    padding-top:50px;
  
  }