@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
  font-family:"Poppins",Arial,sans-serif;
}
.red-snackbar{
    --mdc-snackbar-container-color:black;
    --mat-snack-bar-button-color:red;
    --mdc-snackbar-supporting-text-color:white;
    padding-top:125px;
   
  }
  .green-snackbar{
    --mdc-snackbar-container-color:white;
    --mat-snack-bar-button-color:black;
    --mdc-snackbar-supporting-text-color:green;
    padding-top:125px;
 
  }
  html,body{height: 100%;}
  body{margin: 0; font-weight: Roboto,"Helvetice Neue", sans-serif;}