.input-style{
    font-size: 20px;
    background-color:rgb(220, 149, 17);
    font-style: oblique;
} 

.bg-img{
    background-image: url('../assets/back1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 86vh;
   
}
.box{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.size{
    font-size: 30px;
    font-style: oblique;
    color:rgb(71, 41, 159);
}
.imgs{
    background-color: white;
}
.bgs{
    background-color:rgb(162, 202, 216);}

.modal-body{
    color:rgb(71, 41, 159);
       font-size: 20px;
       font-style: italic;
    
}
a:hover{
    transform: scale(1.2);
    color: darkmagenta;
}
